---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% if page.title == "About Me" %}
      <div style="width:200px; height:100px; margin:auto; margin-top:30px;">
        <script
          type="text/javascript"
          id="mmvst_globe"
          src="//mapmyvisitors.com/globe.js?d=H5guuTN_De2YoKHPR4iLpbH-HSNy4z6Q-0aZ4Rs-aIQ">
        </script>
      </div>
    {% endif %}


    {% include scripts.html %}

  </body>
</html>
